<!DOCTYPE html>
<html layout:decorate="~{dashboardLayout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
    <div layout:fragment="content">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h2>All participants <span class="badge badge-secondary" th:text="${participants.size()}"></span></h2>
                    <a th:href="@{administration/participants/new}" class="btn btn-sm btn-success">Add new participant</a>

                    <ul class="list-group list-group-flush mt-3" th:if="${participants.size() > 0}">
                        <th:block th:each="participant, iterator : ${participants}">

                            <li class="list-group-item">
                                <span th:text="${iterator.index + 1}" th:remove="tag"></span>.
                                <span th:text="${participant.firstName}" th:remove="tag"></span>
                                <span th:text="${participant.lastName}" th:remove="tag"></span>
                                (<span th:text="${participant.representingCountry}" th:remove="tag"></span>)
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <h2>Team management</h2>
                    <a th:href="@{administration/team/new}" class="btn btn-sm btn-success">Create a new team</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>