<!DOCTYPE html>
<html layout:decorate="~{mainLayout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
    <div layout:fragment="content" class="row">
        <div class="col-12">
            <div th:replace="fragments/messages :: messages(${error}, ${message})"></div>
            <h1>2019.gada Latvijas mušiņmakšķerēšanas čempionāts</h1>
            <p class="lead">Mušiņmakšķerēšanas sports Latvijā</p>
        </div>
    </div>
</body>
</html>