<!DOCTYPE html>
<html layout:decorate="~{mainLayout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<head></head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-12">
        <h1>Teams</h1>
        <table class="table mt-3" th:if="${teams.size() > 0}">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Team name</th>
                <th scope="col">Members</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="team, iterator : ${teams}">
                <tr>
                    <th scope="row" th:text="${iterator.index + 1}"></th>
                    <td th:text="${team.teamName}"></td>
                    <td th:text="${team.participants.size()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>