<!DOCTYPE html>
<html layout:decorate="~{dashboardLayout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4">
            <h2 class="form-signin-heading">Edit participant</h2>
            <form method="POST" th:object="${participantForm}" th:action="@{/administration/participant/update}" class="form-signin">
                <input th:field="*{id}" type="hidden" />
                <div class="form-group">
                    <input type="text" th:field="*{firstName}" class="form-control" placeholder="First name" autofocus="true" />
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last name" />
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</span>
                </div>
                <div class="form-group">
                    <select th:field="*{user}" class="form-control">
                        <option value="-1" disabled>Select user if registered</option>
                        <option value="-1">None</option>
                        <th:block th:each="user : ${users}">
                            <option th:text="${user.username}" th:value="${user.id}" ></option>
                        </th:block>
                    </select>
                    <span th:if="${#fields.hasErrors('user')}" th:errors="*{user}">User error</span>
                </div>
                <div class="form-group">
                    <select th:field="*{team}" class="form-control">
                        <option value="-1" selected disabled>Select team if applicable</option>
                        <option value="-1">Individual</option>
                        <th:block th:each="team : ${teams}">
                            <option th:text="${team.teamName}" th:value="${team.id}" ></option>
                        </th:block>
                    </select>
                    <span th:if="${#fields.hasErrors('team')}" th:errors="*{team}">Team error</span>
                </div>

                <button class="btn btn-lg btn-outline-info btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>